In [26]:
import pandas as pd

In [27]:
data = pd.read_json('geonames-all-cities-with-a-population-1000.json')

In [28]:
data = data[['name', 'cou_name_en', 'coordinates', 'population']]

In [34]:
fin_data = data[data['population'] > 200_000].sort_values(by=['name'])

In [35]:
fin_data

,name,cou_name_en,coordinates,population
63287,6th of October City,Egypt,"{'lon': 31.05, 'lat': 29.81667}",368650
78616,A Coruña,Spain,"{'lon': -8.396, 'lat': 43.37135}",246056
50405,Aachen,Germany,"{'lon': 6.08342, 'lat': 50.77664}",265208
56595,Aba,Nigeria,"{'lon': 7.36667, 'lat': 5.10658}",1160000
96053,Abadan,"Iran, Islamic Rep. of","{'lon': 48.3043, 'lat': 30.3392}",370180
...,...,...,...,...
70748,Şanlıurfa,Turkey,"{'lon': 38.79392, 'lat': 37.16708}",449549
10361,Şişli,Turkey,"{'lon': 28.98717, 'lat': 41.06046}",314684
85042,Ţarţūs,Syrian Arab Republic,"{'lon': 35.88659, 'lat': 34.88902}",458327
50463,Ḩalwān,Egypt,"{'lon': 31.30084, 'lat': 29.84144}",230000
9982,Ḩamāh,Syrian Arab Republic,"{'lon': 36.75783, 'lat': 35.13179}",460602

In [36]:
fin_data.to_json('city-pop-200k.json', orient='records')